  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <input matInput type="username" placeholder="Username" formControlName="username">
        @if (!loginForm.get('username')!.valid && loginForm.get('username')!.touched) {
          <span>Please enter your username</span>
        }
      <input matInput type="password" placeholder="Password" formControlName="password">
        @if (!loginForm.get('password')!.valid && loginForm.get('password')!.touched) {
          <span>Please enter your password</span>
        }
    <div class="button-row">
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
    <div class="button-row">
      <button type="button" (click)="register()">Register</button>
    </div>
    <div class="button-row">
      <button type="button" (click)="printSessiontoken()">Print SessionToken</button>
    </div>
  </form>
  <p>{{errorMessage}}</p>
